# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/build-lambda

# macOS generated
.DS_Store

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*