# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage
/cypress/screenshots
/cypress/videos

# production
/build
/build-server

# macOS generated
.DS_Store

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

# local netlify folder
.netlify

# 8base build
**/.build

# misc
/backup